
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				List of vehicles <Small>Total no of vehicles: {{total}}</Small>
			</h1>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label" for="inputQuery">Search</label> <input
				type="text" class="form-control" id="inputQuery" name="inputQuery"
				ng-model="query">
		</div>
		<div class="form-group">
			<label class="control-label" for="selectSort">Sort by</label> 
			<select ng-model="orderProp" name="selectSort" id="selectSort" class="form-control">
				<option value="name">Name</option>
				<option value="type">Type</option>
			</select> 
		</div>

	</div>
	<div class="col-md-8">
		<!--Body content-->

		<ul class="media-list">
			<li class="media" ng-repeat="vehicle in vehicles | filter:query | orderBy:orderProp">
				<div class="media-left">
					<div ng-if="vehicle.type=='BIKE'">
						<img class="media-object" alt="motorcycle"
							src="../img/motorcycle.png">
					</div>
					<div ng-if="vehicle.type=='BICYCLE'">
						<img class="media-object alt=" cycle" src="../img/cycle.png">
					</div>
					<div ng-if="vehicle.type=='CAR'">
						<img class="media-object" alt="car" src="../img/car.png">
					</div>
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{vehicle.name}}</h4>
					<div class="btn-group btn-group-sm pull-right" role="group">
						<a ng-click="editVehicle(vehicle.id)"
							class="btn btn-small btn-primary">edit</a> <a
							ng-click="deleteVehicle(vehicle.id)"
							class="btn btn-small btn-danger">delete</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>